@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

body {
    font: var(--font-m);
    color: var(--secondary-color);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: var(--bg-color);
}

.app {
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
