.ArticleDetails {
    min-height: 100%;
    padding-inline: 80px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 40px;
    margin-bottom: 8px;
}

.subtitle {
    margin-top: 10px;
}

.icon {
    margin-right: 6px;
}

.info {
    display: flex;
}

.block {
    margin-top: 20px;
}

.errorMessage {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
