.Modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--bg-color);
    transform: scale(0.9);
    transition: 0.1s transform;
    color: var(--primary-color);
}

.opened {
    opacity: 1;
    z-index: var(--modal-z-index);
    pointer-events: all;

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.9);
    }
}
