.Avatar,
.image,
.editBtn {
    height: 100;
    width: 100;
}

.Avatar {
    position: relative;

    & svg {
        fill: rgb(255 255 255);
    }
}

.image {
    object-fit: cover;
}

.editBtn {
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: rgb(0 0 0 / 20%);

    &:hover {
        opacity: 1;
    }
}

/* stylelint-disable-next-line block-no-empty */
.default {}

.rounded {
    .image {
        border-radius: 50%;
    }

    .editBtn {
        border-radius: 50%;
    }
}
