.Sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    transition: width 0.15s;
    position: relative;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.collapse_button {
    position: absolute;
    bottom: 20px;
    right: 28px;
}
