.Sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    transition: width 0.15s;
    position: relative;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 26px;

    svg {
        color: var(--inverted-primary-color);
        fill: var(--inverted-primary-color);
    }
}

.link {
    opacity: 1;
    margin-bottom: 5px;
    margin-left: 3px;
}

.switchers {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.collapse_button {
    position: absolute;
    bottom: 20px;
    right: 28px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        position: absolute;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
