body.dark {
    /* Цвета текста */
    --primary-color: #f7f7f8;      /* Основной цвет текста (белый) */
    --secondary-color: #2e2d33;    /* Второстепенный цвет текста (светло-серый) */
    --inverted-primary-color: #2e2d33;
    --inverted-secondary-color: #f7f7f8;

    /* Фоны */
    --bg-color: #2e2d33;
    --inverted-bg-color: #f7f7f8;

    /* Состояния */
    --error-light: #f87171;
    --error-dark: #e16262;
}
