.app.dark {
    --bg-color: #2a3035;
    --inverted-bg-color: #FFFFFF;

    --primary-color: #DEE4EA;
    --secondary-color: #B6C2CF;

    --inverted-primary-color: #2a3035;
    --inverted-secondary-color: #2C3E5D;
}