.app.light {
    --bg-color: #FFFFFF;
    --inverted-bg-color: #2a3035;

    --primary-color: #2a3035;
    --secondary-color: #2C3E5D;

    --inverted-primary-color: #DEE4EA;
    --inverted-secondary-color: #B6C2CF;
}