body.light {
    /* Цвета текста */
    --primary-color: #1a1c1e;
    --secondary-color: #f7f7f8;
    --inverted-primary-color: #f7f7f8;
    --inverted-secondary-color: #1a1c1e;

    /* Фоны */
    --bg-color: #f7f7f8;
    --inverted-bg-color: #2e2d33;

    /* Состояния */
    --error-light: #ef4444;
    --error-dark: #da3b3b;
}
