.AppLink {
    cursor: pointer;
    margin-right: 10px;

    &:hover {
        opacity: 0.7;
        transition: opacity 0.2s;
    }
}

.primary {
    color: var(--primary-color);
}

.inverted {
    color: var(--inverted-primary-color);
}
